:root {
  --primary-color: #21ce99;
  --primary-light: #e6f9f3;
  --primary-bg: #21ce99;
  --primary-bglight: #e6f9f3;
  --lightbg: #efefef;
}
* {
  font-family: DIN Pro, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 500;
}
/* Overall app theme */
.theme-closed-down > * {
  color: #fff !important;
  background: #1b1b1d !important;
}

.theme-open-up > * {
  color: #1b1b1d !important;
  background: #fff !important;
}
/* Footer styles 
============== */
.uk-tab {
  margin-top: 0px;
  border-bottom: 1px solid #e5e5e5;
}
.uk-tab-closed {
  margin-top: 0px;
  border-bottom: 1px solid #000 !important;
}
.uk-tab::before {
  border: none;
}
.uk-tab > li > a {
  cursor: pointer;
}
/* Styles for market is open or closed */
.market-open {
  color: #1b1b1d !important;
  background: #fff;
}
.market-closed {
  color: #fff !important;
  background: #1b1b1d;
}
.market-is-up {
  color: var(--primary-color);
}
.uk-active.market-is-up > a {
  color: var(--primary-color) !important;
  border-color: var(--primary-color);
}
.market-is-down {
  color: #f45531;
}

.uk-active.market-is-down > a {
  color: #f45531 !important;
  border-color: #f45531;
}
