.crosshair {
  border-style: none;
  color: #8c8c8e;
}
.rv-crosshair__line {
  color: #8c8c8e !important;
  background: #8c8c83 !important;
}
.rv-crosshair__inner {
  position: absolute;
  text-align: left !important;
  top: -19px !important;
  right: 0 !important;
  width: 300px;
  left: -14px !important;
  font-size: 13px;
  margin: auto auto;
}
